/*
*
|  Page Name       : clms.css
|  Description     : css for clms
|  Created by      : May Altamerano
|  Date Created    : February 22, 2019
|  Last Update by  : May Altamerano
|  Last update     : February 22, 2019
*
*/
.-row-container.-analytics{
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  padding: 0px;
}
.-row-feed{
  position: relative;
  width: 100%;
  padding: 15px;
  border-radius: 3px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
}
.-row-container.-analytics.-two{
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: row;
  padding: 0px;
}
.-row-modules-list{
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: row;
  flex-flow: wrap;
  width: 100%;
}
.-row-modules-list .-module-item{
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  padding: 15px;
  width: 30%;
  flex: 1;
  margin: 10px;
  flex-flow: wrap;
}
.-module-item .-header{
  margin: 0px;
  font-size: 16px;
}
.-module-item .-upper-content{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  height: 150px;
  overflow: hidden;
  width: 100%;
}
.-module-item .-text{
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
}
.-module-item .-count{
  font-size: 24px;
  font-weight: 600;
  color: #5BBFB3;
}
.-module-item .-label-count{
  font-size: 14px;
  font-weight: 400;
}
.-module-item .-progress-container{
  min-height: 100px;
  width: 100%;
  margin-top: 20px;
}
.-module-item .-action-text{
  color: #ffffff;
  font-size: 14px;
}
.-module-item .-progress{
  margin-top: 3px;
  height: 10px;
}
.-module-item .-a-action{
  width: 100%;
  font-size: 14px;
  color: #ffffff;
  text-align: center;
  background-color: #254292;
  padding: 6px;
  margin-top: 15px;
}
.-module-item .-action-percent{
  font-size: 12px;
}
.-module-item .-activity-progress{
  display: flow-root;
}
@media only screen and (max-width: 800px){
  .-row-container.-analytics.-two{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
  }
  .-row-container.-analytics.-two .-w50p.-mr20{
    margin-right: 0px;
    margin-bottom: 30px;
    width: 100%;
  }
  .-row-container.-analytics.-two .-w50p{
    margin-right: 0px;
    width: 100%;
  }
  .-row-modules-list{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    flex-flow: wrap;
    width: 100%;
  }
  .-row-modules-list .-module-item {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    padding: 15px;
    width: 100%;
    flex: 1;
    margin: 0px 0px 15px 0px;
    flex-flow: wrap;
  }
}
