/*
*
|  Page Name       : colors.css
|  Description     : css for colors
|  Created by      : May Altamerano
|  Date Created    : February 22, 2019
|  Last Update by  : May Altamerano
|  Last update     : February 22, 2019
*
*/
body{
  background-color: #09163D;
}
.-sidebar{
  background-color: #081539;
}
.-sidebar .-navbar>li.active>a{
  border-right: 3px solid #42A9C0;
  color: #ffffff;
}
.-sidebar .-navbar>li>a:hover,
.-sidebar .-navbar>li>a:focus{
  border-right: 3px solid #42A9C0;
  color: #ffffff;
  background-color: transparent;
}
.-sidebar .-navbar>li>a{
  color: #C4CDE8;
}
.-navigation .-navbar-text{
  color: #ffffff;
}
.-navigation .-spn-name{
  color: #ffffff;
}
.-navigation .-user-option>li>a,
.-navigation .-user-option>li>a:hover{
  background-color: transparent
}

/* COLORS */
.-w{
  color: #ffffff;
}
.-grn{
  color: #7AD9A6;
}
.-rd{
  color: #D43A43;
}
.-blu{
  color: #008FF7;
}
.-ylw{
  color: #FFF14E;
}
.-app-user-container .circles-integer{
  color: #ffffff;
}
.-realtime-count{
  text-shadow: 7px 2px 6px rgba(88,123,229,0.41);
}
.-link{
  color: #ffffff;
}
.-link:hover{
  color: #ffffff;
  opacity: 0.7;
}
.-header-logo{
  color: #e1e4ec;
}

/* SELECT DROPDOWN */
.-single-select.-select-default .select2-choice{
  background-color: #284083 !important;
  border:0px ;
  color: #99b2ff;
}
.-single-select.-select-default.select2-dropdown-open.select2-container-active{
  border-color: #587BE5;
  border: 1px solid #587BE5;
}
.-select-default.form-control{
  border:0px;
  background-color: #284083 !important;
}
#select2-chosen-1{
  color: #99b2ff;
}
.select2-results .select2-highlighted{
  background-color: #284083;
  color: #99b2ff;
}


/* INPUT FIELD */
.-input-default{
  background-color: #284083;
  color: #99b2ff;
  border-color: #284083;
}
.-input-date-container .-input-date{
  background-color: #284083;
  border-color: #284083;
  color: #99b2ff;
}
.-input-date-container .-input-date::placeholder{
  color: #99b2ff;
}
.-input-date-container .-add-on{
  background-color: #284083;
  border-color: #284083;
  color: #99b2ff;
}
.-input-date-container .-input-date:focus{
  border-color: #587BE5;
  -webkit-box-shadow:none;
  box-shadow:none;
}
.-input-date-container .bootstrap-datetimepicker-widget table thead tr:first-child th{
  color: #99b2ff;
}
.-input-date-container .bootstrap-datetimepicker-widget table thead tr:first-child th:hover{
  background-color: #284083;
  color: #99b2ff;
}
.-input-date-container .bootstrap-datetimepicker-widget table td.day:hover{
  background-color: #284083;
  color: #99b2ff;
}
.-input-date-container .bootstrap-datetimepicker-widget table th{
  color: #99b2ff;
}
.-input-date-container .bootstrap-datetimepicker-widget{
  background-color: #132557;
  border-color:  #587BE5;
  -webkit-box-shadow: 0px -2px 9px -1px rgba(88,123,229,1);
  -moz-box-shadow: 0px -2px 9px -1px rgba(88,123,229,1);
  box-shadow: 0px -2px 9px -1px rgba(88,123,229,1);
}
.-input-date-container .bootstrap-datetimepicker-widget table td{
  color: #ffffff;
}
.-input-date-container .bootstrap-datetimepicker-widget table td.active{
  background-color: #99b2ff;
  color: #284083;
}
.-input-date-container .bootstrap-datetimepicker-widget table td span{
  color: #99b2ff;
}
.-input-date-container .bootstrap-datetimepicker-widget table td span:hover{
  color: #99b2ff;
  background-color: #284083;
}
.-input-date-container .bootstrap-datetimepicker-widget button[data-action]{
  color: #99b2ff;
  background-color: #284083;
  border-color: #587BE5;
}

/* BUTTONS */
.-btn-default{
  background-color: #09163D;
  border-color: #09163D;
  color: #ffffff;
}
.-btn-default:focus{
  outline-color: #587BE5;
}
.-btn-default.-line:active,
.-btn-default.-line:focus,
.-btn-default.-line:hover{
  background-color: #09163D;
  border-bottom: 1px solid #587BE5;
  color: #ffffff;
}
.-btn-default.-line.-active,
.-btn-default.-line.-active,
.-btn-default.-line.-active{
  background-color: #09163D;
  border-bottom: 1px solid #587BE5;
  color: #ffffff;
}
.-btn-default.-line{
  background-color: #09163D;
  color: #ffffff;
}

/* BACKGROUND */
.-bckgrd{
  background-color: #132557;
}

/* BORDER */
.-brdr{
  border-bottom:1px solid #587BE5;
}

/* PROGRESS BAR */
.-progress .-progress-grn{
  background-color: #45ff92;
}

/* 1ST STAT */
.-clr1-t{
  color: #2C7889;
}
.-clr1{
  background-color: #42A9C0;
}
.-clr1-b{
  background-color: #3B96AA;
}
/* 2ND STAT */
.-clr2-t{
  color: #0968B4;
}
.-clr2{
  background-color: #1384DD;
}
.-clr2-b{
  background-color: #107BD0;
}
/* 3RD STAT */
.-clr3-t{
  color: #0B43A0;
}
.-clr3{
  background-color: #1557C6;
}
.-clr3-b{
  background-color: #1150BA;
}
/* 3RD STAT */
.-clr4-t{
  color: #02358B;
}
.-clr4{
  background-color: #0A49B2;
}
.-clr4-b{
  background-color: #093C95;
}


@media only screen and (max-width: 800px){
  .-sidebar .-navbar>li.active>a{
    border-right: 0px solid transparent;
    color: #9BEDFF;
  }
  .-sidebar .-navbar>li>a{
    color: #ffffff;
  }
  .-sidebar{
    background: #1a556b;
    background: -moz-linear-gradient(top, #1a556b 0%, #1a556b 0%, #1a556b 0%, #1a556b 0%, #2989d8 0%, #1a556b 0%, #09163d 42%, #09163d 99%, #09163d 100%, #2989d8 100%, #09163d 100%);
    background: -webkit-linear-gradient(top, #1a556b 0%,#1a556b 0%,#1a556b 0%,#1a556b 0%,#2989d8 0%,#1a556b 0%,#09163d 42%,#09163d 99%,#09163d 100%,#2989d8 100%,#09163d 100%);
    background: linear-gradient(to bottom, #1a556b 0%,#1a556b 0%,#1a556b 0%,#1a556b 0%,#2989d8 0%,#1a556b 0%,#09163d 42%,#09163d 99%,#09163d 100%,#2989d8 100%,#09163d 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1a556b', endColorstr='#09163d',GradientType=0 );
    box-shadow: 0 9px 11px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
  }
  .-app-user-container.-bckgrd{
    background-color: transparent;
  }
}
.canvasjs-chart-credit{
  font-size: 0px !important;
  color: #09163D !important;
}
