/*
*
|  Page Name       : dashboard.css
|  Description     : css for overview of the analytics
|  Created by      : May Altamerano
|  Date Created    : February 22, 2019
|  Last Update by  : May Altamerano
|  Last update     : February 22, 2019
*
*/
.-main-container .-row-container{
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.-main-container .-row-container.-realtime{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
}
.-main-container .-row-container.-row-per-school{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
}
.-main-container .-row-container.-logs{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
}
.-row-container .-header-count{
  margin-right: 50px;
  width: 500px;
}
.-header-count .-realtime-count{
  font-size: 110px;
  font-weight: 600;
  margin: 0px;
  line-height: 1.4;
}
.-header-count .-text{
  font-size: 18px;
  font-weight: 400;
}
.-row-container .-stats-container{
  height: 150px;
  width: 25%;
  border-radius: 3px;
  position: relative;
  overflow: hidden;
  margin-right: 20px;
}
.-row-container .-stats-container:nth-child(4){
  margin-right: 0px;
}
.-stats-container .-text{
  padding: 23px;
}
.-stats-container .-user-type{
  font-size: 14px;
  margin: 0px;
}
.-stats-container .-user-count{
  font-size: 40px;
  font-weight: 600;
  line-height: 1.3;
  margin: 0px;
}
.-stats-container .-icon-stats{
  position: absolute;
  right: 30px;
  top: 30px;
  font-size: 36px;
}
.-stats-container .-lnk-more{
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
  font-size: 14px;
  padding: 6px 10px;
  text-decoration: none;
}

.-list-style{
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: row;
  flex-wrap: wrap;
}
.-list-style .-per-school{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  width: 49%;
  padding: 10px 25px;
  margin: 3px;
}
.-per-school .-fig-school{
  width: 70px;
  height: 70px;
  overflow: hidden;
}
.-per-school .-img-school{
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 100px;
}
.-per-school .-text-per-school{
  text-align: right;
}
.-per-school .-count-per-school{
  margin: 0px;
  font-size: 26px;
  font-weight: 600;
}
.-per-school .-school-name{
  margin: 0px;
  font-size: 15px;
}

.-app-user-container{
  width: 33%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding:20px 33px;
  border-radius: 3px;
  margin-right: 20px;
}
.-app-user-container:nth-child(3){
  margin-right: 0px;
}
.-app-user-container .circles-integer{
  font-size: 30px;
}
.-app-user-container .-app-text{
  text-align: right;
}
.-app-user-container .-title{
  font-size: 22px;
  font-weight: 600;
  margin: 0px;
}
.-app-user-container .-user-count{
  font-size: 16px;
  margin: 0px;
}
.-mapouter{
  text-align:right;
  height:350px;
  width:100%;
}
.-gmap_canvas {
  overflow:hidden;
  background:none!important;
  height:350px;
  width:100%;
}
.-gender-container{
  position: relative;
  margin-left: 30px;
}
.-gender-container .-gender-label{
  position: absolute;
  top: 80px;
  right: 50px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
}
.-gender-label .-label{
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 5px;
}
.-row-logs{
  width: 100%;
  border-radius: 3px;
  padding:20px;
}
.-log-filter{
  display: flex;
  width: 100%;
}
.-search-filter{
  width: 50%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  margin-bottom: 20px;
}
.-date-filter{
  width: 50%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: row;
  flex-flow: wrap;
}
.-log-list{
  border-bottom: 1px solid #587BE5;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  position: relative;
  padding: 14px;
}
.-fig-log{
  height: 50px;
  width: 50px;
  overflow: hidden;
}
.-img-log{
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 100px;
}
.-log-list .-spn-logs{
  margin-left: 20px;
}
.-log-list .-school-name{
  margin: 0px;
  font-size: 18px;
  font-weight: 400;
  color: #fff;
}
.-log-list .-log-desc{
  margin: 0px;
  font-size: 14px;
  color: #fff;
}
.-log-list .-time-log{
  position: absolute;
  right: 20px;
  top: 20px;
  font-size: 12px;
  color: #fff;
}
.-lnk-more{
  display: block;
}
@media only screen and (max-width: 800px){
  .-row-container.-count{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;
  }
  .-row-container.-analytics{
    padding: 0px 20px !important;
  }
  .-row-container .-header-count {
    margin-right: 0px;
    width: 100%;
    padding: 10px 10px 10px 80px;
  }
  .-header-count .-realtime-count {
    font-size: 60px;
    font-weight: 600;
    margin: 0px;
    line-height: 1.4;
  }
  .-header-count .-text {
    font-size: 14px;
    font-weight: 400;
    margin: 0px;
  }

  .-row-container.-realtime{
    display: flex;
    justify-content: space-evenly !important;
    height: 200px;
    padding: 0px 10px;
    flex-flow: wrap;
  }
  .-row-container .-stats-container {
    height: 90px;
    width: 45%;
    border-radius: 3px;
    position: relative;
    overflow: hidden;
    margin: 0px;
  }
  .-stats-container .-text {
    padding: 12px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    height: 100%;
  }
  .-stats-container .-user-type {
    font-size: 8px;
    margin: 0px;
  }
  .-stats-container .-user-count {
    font-size: 24px;
    font-weight: 600;
    line-height: 1.3;
    margin: 0px;
  }
  .-stats-container .-icon-stats {
    position: absolute;
    right: 20px;
    top: 13px;
    font-size: 20px;
  }
  .-lnk-more{
    display: none;
  }
  .-main-container .-row-container.-row-per-school{
    padding: 0px 20px;
  }
  .-row-container .-header-title {
    margin: 0px;
    font-size: 16px;
    width: 100%;
    margin-bottom: 10px;
  }
  .-list-style .-per-school {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    width: 100%;
    padding: 13px 20px;
    margin: 3px;
  }
  .-per-school .-fig-school {
    width: 50px;
    height: 50px;
    overflow: hidden;
  }
  .-per-school .-count-per-school {
    margin: 0px;
    font-size: 20px;
    font-weight: 600;
  }
  .-per-school .-school-name {
    margin: 0px;
    font-size: 13px;
  }
  .-row-container.-app{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    padding: 0px 20px;
  }
  .-app-user-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 30px;
    border-radius: 3px;
    margin-right: 0px;
    margin-bottom: 5px;
  }
  .-app-user-container:nth-child(2) {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row-reverse;
    padding: 20px 30px;
    border-radius: 3px;
    margin-right: 0px;
    margin-bottom: 5px;
  }
  .-app-user-container .-title {
    font-size: 20px;
    font-weight: 600;
    margin: 0px;
  }
  .-app-user-container .-app-text:nth-child(2) {
    text-align: left;
  }
  .-app-user-container .circles-integer {
    font-size: 26px;
  }
  .-row-container.-locate-gender{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    padding: 0px 20px;
  }
  .-locate-gender .-w50p{
    width: 100%;
    margin-bottom: 30px;
  }
  .-locate-gender .-fig-location{
    padding: 0px;
    height: 300px;
  }
  .-gender-container {
    position: relative;
    margin-left: 0px;
  }
  .-gender-container .-gender-label {
    position: absolute;
    top: 80px;
    right: 20px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
  }
  .-row-container.-logs{
    padding: 0px 20px;
  }
  .-log-filter {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .-search-filter {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 0px;
  }
  .-search-filter .-form-group{
    margin-bottom: 0px;
  }
  .-search-filter .-form-group:nth-child(1){
    width: 100%;
    margin: 0px;
  }
  .-search-filter .-form-group:nth-child(2){
    display: none;
  }
  .-date-filter {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-flow: wrap;
    margin-top: 5px;
  }
  .-date-filter .-w30p {
    width: 100%;
    margin: 0px 0px 5px 0px;
  }
  .-date-filter .-w30p.-mr10:nth-child(2){
    margin-right: 0px !important;
  }
  .-log-list {
    border-bottom: 1px solid #587BE5;
    display: flow-root;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    position: relative;
    padding: 14px;
  }
  .-log-list .-school-name {
    margin: 0px;
    font-size: 14px;
    font-weight: 400;
    color: #fff;
  }
  .-log-list .-log-desc {
    margin: 0px;
    font-size: 10px;
    color: #fff;
  }
}
