/*
*
|  Page Name       : global.css
|  Description     : css for global
|  Created by      : May Altamerano
|  Date Created    : February 22, 2019
|  Last Update by  : May Altamerano
|  Last update     : February 22, 2019
*
*/
html{
  height: 100%;
  margin: 0px;
  padding: 0px;
}
body{
  width: 100%;
  height: 100%;
  font-size: 16px;
  font-weight: 400;
  border-radius: 0px;
  border: 0px;
  margin: 0px;
  padding: 0px;
  -webkit-text-sizing-adjust: 100%;
  text-sizing-adjust: 100%;
  font-family: 'Brandon Text';
  -webkit-font-smoothing: subpixel-antialiased;
  -moz-osx-font-smoothing: auto;
}
h1,h2,h3,h4,h5,p,pre,label,small,strong,
span,th,td{
  line-height: 1.6;
  font-size: 16px;
}
:root{
  font-size: 16px;
}
.-main-wrapper{
  height: 100%;
  width: 100%;
  padding-left: 250px;
}
.-content-wrapper{
  width: 100%;
  height: 100%;
}
.-main-container{
  padding: 0px 70px;
}
.-row-container{
  margin-bottom: 50px;
}
.-row-container .-header-title{
  margin: 0px;
  font-size: 18px;
  width: 100%;
  margin-bottom: 15px;
}
.-web{
  display: block;
  overflow: hidden;
}
.-mb{
  display: none;
}
@media only screen and (max-width: 800px){
  body.-active{
    overflow: hidden;
  }
  .-main-wrapper{
    padding: 0px;
  }
  .-main-container{
    padding: 0px;
  }
  .-web{
    display: none;
  }
  .-mb{
    display: block;
    overflow: scroll;
  }
  .-row-container{
    margin-bottom: 30px;
  }
}

/* FONTS */
.-f12{
  font-size: 12px;
}

/* WIDTH */
.-w100p{
  width: 100%;
}
.-w50p{
  width: 50%;
}
.-w40p{
  width: 40%;
}
.-w30p{
  width: 30%;
}
.-w25p{
  width: 25%;
}
.-w20p{
  width: 20%;
}
.-w15p{
  width: 15%;
}

/* MARGIN */
.-mr10{
  margin-right: 10px;
}
.-mr20{
  margin-right: 20px;
}

/* SELECT DROPDOWN */
.-single-select{
  border-radius: 100px;
  padding: 0px;
}
.-single-select .select2-choice{
  border-radius: 100px;
  height: 100%;
  background-image: none;
  -webkit-box-shadow:none;
  box-shadow: none;
}
.-single-select .select2-chosen{
  height: 100%;
  padding: 4px 7px;
  font-size: 14px;
}
#select2-chosen-1{
  height: 100%;
  padding: 6px 7px;
  font-size: 14px;
}
.-select-default .select2-choice .select2-arrow{
  background-image: none;
  border: 0px;
  background-color: transparent;
  top: 4px;
  right: 5px;
}
.select2-results .select2-highlighted,
.select2-results .select2-result-label{
  font-size: 15px;
}
.select2-search .select2-input{
  font-size: 15px;
  border-radius: 100px;
  border-color: #99b2ff;;
  border:1px solid #99b2ff;;
  background: none;
  padding: 4px 15px;
}
.select2-results .select2-no-results{
  text-align: center;
  font-size: 14px;
}
.select2-drop-active{
  border-top-right-radius: 18px;
  border-top-left-radius: 18px;
  border-bottom-right-radius: 9px;
  border-bottom-left-radius: 9px;
}

/* INPUT FIELD */
.-input-default{
  border-radius: 100px;
}
.-input-date-container{
  border-radius: 100px;
}
.-input-date-container .-input-date{
  border-top-left-radius: 100px;
  border-bottom-left-radius: 100px;
}
.-input-date-container .-add-on{
  border-top-right-radius: 100px;
  border-bottom-right-radius: 100px;
}
.-input-date-container .bootstrap-datetimepicker-widget table td{
  font-size: 14px;
}
.-input-date-container .bootstrap-datetimepicker-widget{{
  border-radius: 15px;
}

/* BUTTONS */
.-btn{
  display: inline-block;
  margin-bottom: 0;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  border-radius: 4px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.-btn-default{
  padding: 0px;
  font-size: 14px;
}


.canvasjs-chart-credit{
  display: none !important;
}
canvas{
  position: absolute;
  top: 13px !important;
}
