/*
*
|  Page Name       : sis.css
|  Description     : css for sis
|  Created by      : May Altamerano
|  Date Created    : February 22, 2019
|  Last Update by  : May Altamerano
|  Last update     : February 22, 2019
*
*/
.-row-container.-analytics-list{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}
.-analytics-list .-stat-default{
  padding: 35px;
  border-radius: 3px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  width: 24%;
}
.-stat-default .-stat-ic{
  font-size: 40px;
}
.-stat-default .-stat-count{
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  flex-direction: column;
}
.-stat-default .-counter{
  font-size: 30px;
  font-weight: 600;
}
.-stat-default .-text{
  font-size: 16px;
}
.-enrollment{
  position: relative;
}
.-enrollment .-enrollment-label{
  position: absolute;
  top: 80px;
  right: 50px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
}
.-enrollment-label .-label{
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 5px;
}
@media only screen and (max-width: 800px){
  .-row-container.-analytics-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    padding: 20px;
    flex-flow: wrap;
  }
  .-analytics-list .-stat-default {
    padding: 15px;
    border-radius: 3px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    width: 48%;
    margin: 3px;
  }
  .-stat-default .-stat-ic {
    font-size: 28px;
  }
  .-stat-default .-counter {
    font-size: 22px;
    font-weight: 600;
  }
  .-stat-default .-text {
    font-size: 13px;
  }
  .-row-container.-analytics.-two .-w50p.-enrollment {
    margin-right: 0px;
    width: 100%;
    padding: 0px 0px;
    margin-bottom: 30px;
  }
  .-row-container.-analytics.-two .-w50p.-enrollment-line {
    margin-right: 0px;
    width: 100%;
    padding: 0px 0px;
    margin-bottom: 0px;
  }
  .-enrollment .-enrollment-label {
    position: absolute;
    top: 40px;
    right: 0px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
  }
}
