/*
*
|  Page Name       : user_profiling.css
|  Description     : css for user profiling
|  Created by      : May Altamerano
|  Date Created    : February 22, 2019
|  Last Update by  : May Altamerano
|  Last update     : February 22, 2019
*
*/
.-age-container{
  position: relative;
}
.-age-container .-age-label {
  position: absolute;
  top: 80px;
  right: 50px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
}
.-age-label .-label {
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 10px;
}
.-row-container.-user-graph{
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column !important;
}
.-user-graph .-btn-group{
  margin-bottom: 30px;
  margin-left: 30px;
}
.-user-graph .-btn-users{
  width: 130px;
  border-radius: 0px;
  height: 50px;
}
.-user-graph .-search-filter {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  margin-bottom: 20px;
}
@media only screen and (max-width: 800px){
  .-row-container.-age-gender{
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    flex-direction: column;
    padding: 0px 20px;
  }
  .-age-container{
    width: 100%;
  }
  .-age-container .-age-label{
    top: 80px;
    right: 20px;
  }
  .-age-label .-label {
    font-size: 10px;
    font-weight: 400;
    margin-bottom: 10px;
  }
  .-gender-label .-label {
    font-size: 10px;
    font-weight: 400;
    margin-bottom: 5px;
  }
  .-gender-container{
    width: 100%;
  }
  .-users-graph{
    overflow-x: scroll;
    overflow-y: scroll;
  }
  .-row-container.-user-graph{
    padding: 0px 20px;
  }
  .-user-graph .-btn-group {
    margin-bottom: 30px;
    margin-left: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
  }
  .-user-graph .-btn-users {
    width: 100px;
    border-radius: 0px;
    height: 30px;
    font-size: 12px;
  }
  .-user-graph .-w40p {
    width: 80%;
  }
}
